

.header-area {
  border: 2px solid grey;
  padding: 2em;
  margin: -1em;
  background: grey;
}

.box-area-header {
  padding: 2em;
  margin: -1em;
  font-size: 20px;
  font-family: sans-serif;
}

.box-area {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  justify-content: space-around;
}

.box {
 width: 15em;
 height: 25em;
 border: 2px solid #457b9d;
 background: #dee3e8;
 padding: 3em;
 margin: .5em;
 border-radius: .5em;

}

.top-background {
  position: relative;
  margin: -3em;
  top: -.01em;
  width: 21.001em;
  border-radius: .5em;
}

.button {
  position: relative;
  width: 4em;
  margin: -2em;
  top: -25.5em;
}

.bottom-frame {
  margin: -3em;
  margin-top: 7.9em;
  width: 21.001em;
  border-radius: .5em;
}

.dragon1 {
  position: relative;
  margin: -9em;
  left: 5.5em;
  bottom: 1em;
  width: 22em;
}

.card-text1 {
  position: relative;
  text-align: center;
  bottom: 11em;
  right: 2em;
  background: rgba(153, 153, 153, .8);
  border-radius: .5em;
  width: 20em;
  padding: .01%;
  color: white;
  font-family: Sedgwick Ave;
  font-size: 15px;
}

.dragon2 {
  position: relative;
  width: 9.9em;
  margin: 5em;
  bottom: 33.3em;
  left: 2.99em;
}

.card-text2 {
  position: relative;
  text-align: center;
  bottom: 35.7em;
  right: 2.1em;
  background: rgba(153, 153, 153, .8);
  border-radius: .5em;
  width: 20em;
  padding: .01%;
  color: white;
  font-family: Sedgwick Ave;
  font-size: 15px;
}

.dragon3 {
  position: relative;
  width: 20em;
  bottom: 28.3em;
  left: -3em;
}

.card-text3 {
  position: relative;
  text-align: center;
  bottom: 37.2em;
  right: 2.1em;
  background: rgba(153, 153, 153, .8);
  border-radius: .5em;
  width: 20em;
  padding: .01%;
  color: white;
  font-family: Sedgwick Ave;
  font-size: 15px;
}

.dragon4 {
  position: relative;
  width: 20em;
  left: -2.5em;
  bottom: 26em;
}

.card-text4 {
  position: relative;
  text-align: center;
  bottom: 28.8em;
  right: 2.1em;
  background: rgba(153, 153, 153, .8);
  border-radius: .5em;
  width: 20em;
  padding: .01%;
  color: white;
  font-family: Sedgwick Ave;
  font-size: 15px;
}

.dragon5 {
  position: relative;
  width: 18em;
  left: 0em;
  bottom: 28em;
}

.card-text5 {
  position: relative;
  text-align: center;
  bottom: 28.8em;
  right: 2.1em;
  background: rgba(153, 153, 153, .8);
  border-radius: .5em;
  width: 20em;
  padding: .01%;
  color: white;
  font-family: Sedgwick Ave;
  font-size: 15px;
}

.dragon6 {
  position: relative;
  width: 20em;
  left: -2em;
  bottom: 27em;
}

.dragon7 {
  position: relative;
  width: 16em;
  bottom: 28em;
  left: -3em;
}

.dragon8 {
  position: relative;
  width: 18em;
  bottom: 28.1em;
}
